@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* START OF CUSTOMERLIST CSS */
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

#title {
  text-align: center;
}

#employee {
  border-collapse: collapse;
  border: 3px solid #ddd;
  margin-top: 100px;
}

#employee td,
#employee th {
  border: 1px solid #ddd;
  padding: 12px;
}

#employee tr:hover {
  background-color: #ddd;
}

#employee th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.opration {
  text-align: center;
}

.delete {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}


.button:active {
  border: 1px solid blue;
}

/* START OF EMAIL FORM CSS */

.emailDiv{
  margin: 25px 50px 75px 100px;
  margin-top: 100px;
}
.emailDiv button{
  margin-top: 10px;
}

.addUserDiv{
  margin: 25px 50px 75px 100px; 

}
.addUserDiv button{
 margin-top: 10px;
  
}